.loading
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}
.loading #top
{
    fill: #F00;
}
.loading #bottom,
.loading #middle
{
    fill: #CCD;
}
.loading #middle
{
    animation: blink 600ms infinite;
}
@keyframes blink
{
    from { fill: red; }
}
.loading svg
{
    animation: tilt 1000ms alternate infinite;
}
@keyframes tilt
{
    0% { transform: rotate(20deg); }
    50% { transform: rotate(-20deg); }
    100% { transform: rotate(s20deg); }
}